@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  max-height: 100vh;
  max-width: 100vw;
	overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.panel {
  scroll-snap-align: start;
  display: flex;
  justify-content:center;
  align-items:center;
  height: 100vh;
}

.red {
  background-color: #cf3535;
  background-image: none;
}
.blue{
  background-color: blue;
}
.orange{
  background-color: orange;
}
.panel p {
  font-size: 32px;
}
